.fa-spinner {
    font-size: 18pt;
    display: inline-block;
}

.hidden_subtitles_msg {
    font-size: 10pt;
    display: block;
}

.icon {
    max-width: 25px;
    height: auto;
}

.icon.top-right {
    position: absolute;
    right: 15px;
}

.icon.play {
    margin-left: 10px;
}

.list-group-item.active {
    z-index: 0;
}

.img-thumbnail {
    min-height: 80px;
    min-width: 55px;
    float: left;
    margin-left: 10px;
    margin-right: 15px;
}

.Select {
    width: 100%;
    margin: 0 10px;
}

.list-group {
    margin-bottom: 5px;
}

.list-group:last-child {
    margin-bottom: 20px;
}

.btn-group .short-date {
    font-size: 3vw;
}